.articledetail {
    margin:20px;
    width: 100%;
    margin: 0 auto;
}
h2{
    text-align: center;
}
.row{
    width: 100%;
    padding: 10px 20px;
}
.row>span{
    margin-left: 25px;
}
.myInput{
    height: 36px;
    line-height: 36px;
    border: 0px;
    border-bottom: 2px solid #000;
    padding: 6px 12px;
    box-shadow: 0px 5px 10px #ccc;
    width: auto;
}
